---
const { image, logo, text } = Astro.props as {
	image?: string
	logo?: string
	text?: string
}
---

<section class="relative mb-2 p-2 md:mb-2">
	<div class="flex overflow-hidden rounded bg-black">
		<div class="flex w-[calc((100%/3)*1)] flex-col justify-center px-8">
			<img src={logo} class="" alt="" />
			<p class="text-[1.3889vw] text-white">
				{text}
			</p>
		</div>
		<div class="w-[calc((100%/3)*2)]">
			<img src={image} class="object-cover" alt="" />
		</div>
	</div>
</section>
