---
const { image, logo, text } =
	Astro.props as {
		image?: string
		logo?: string
		text?: string
	}
---

<section class="relative mb-2 md:mb-2 p-2">
	<div class="flex bg-black rounded overflow-hidden">
		<div class="flex flex-col justify-center w-[calc((100%/3)*1)] px-8">
			<img src={logo} class="" alt="" />
			<p class="text-white text-[1.3889vw]">
				{text}
			</p>
		</div>
		<div class="w-[calc((100%/3)*2)]">
			<img src={image} class="object-cover" alt="" />
		</div>
	</div>
</section>
